alembic
blinker
certifi
charset-normalizer
click
Flask
Flask-Migrate
Flask-SQLAlchemy
greenlet
idna
itsdangerous
Jinja2
Mako
MarkupSafe
mysql-connector-python
PyMySQL
PyYAML
requests
SQLAlchemy
typing_extensions
urllib3
Werkzeug
