*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
body{
    color: #333;
    background: #ffffff;
    overflow-y: hidden;
}
.nav{
    position: fixed;
    height: 60px;
    font-size: 50px;
    padding: 30px 10px;
    padding-top: 20px;
    font-weight: 400;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(93, 53, 62);
    color: #fff;
    display: flex;
    align-items: center;
    /* font-weight: bolder; */
    font-style: normal;
    font-variant: normal;
    font-kerning: auto;
    font-optical-sizing: auto;
    font-stretch: 100%;
    font-variation-settings: normal;
    font-feature-settings: normal;
    text-transform: none;
    text-decoration: none solid rgb(255, 255, 255);
    text-align: start;
    text-indent: 0px;
}
.sideNav{
    position: fixed;
    left: 0;
    top: 60px;
    padding:  10px;
    padding-top:20px;
    bottom: 0;
    background: #ffffff;
    color: white;
    width: 230px;
    display: flex;
    flex-flow: column;
    gap: 25px;
    border-right: 1px #c5c6c7 solid ;
    /* font-size: 40px; */
}
.sideNav .card .value{
    font-size: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.card{
    display: flex;
    flex-flow: column;
    background-color: #fff;
    box-shadow: 5px 10px 5px #dfdfdf;
    gap: 30px;
    border: none;
    border-radius: 6px;
}
#deepRed{
  background: #fe5858;
  color: white;
}
.card .title{
    color: white;
    padding: 5px 15px;
    font-size: 23px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    border-radius: 2px;
}
.title.green{
    background: #024b40;
}
.title.maroon{
    background: #5d353e;
}
.title.red{
    background: #fe5858;
}
.title.lightBlue{
    background: #b2d6ca;
    color: #000;
}
.title.black{
    background:#000;
    color: white;
}
.card .value{
    padding: 10px 20px;
    color: #333;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    display: flex;
    flex-wrap: wrap;
    gap: 30px 15px;
    margin-left: 245px;
    margin-top: 60px;
    padding: 0px 0px;
}
.main .test{
    flex: 1 1 250px;
    display: flex;
    padding: 0px;
    flex-direction: column;
    background: white;
    border-right: 5px #dfdfdf solid;
    border-bottom:  10px #dfdfdf solid;
    border-left: 2px #ddd solid;
    border-radius: 8px;
}
.main .test .header{
    padding: 5px 10px;
    font-weight: bolder;
    color: white;
    background-color: #024b40;
    font-size: 30px;
    border-radius: 5px 5px  0px 0px;
    text-transform: uppercase;
}
.main .test .statusCards, .main .tat .statusCards{
    display: flex;
    gap: 2.5px;
    border-radius: 4px;
}
.cardWrapper{
    flex: 1 0 100px;
    display: flex;
    flex-flow: column;
    margin: 0px 4px 10px 4px  ;
    font-weight: bold;
}
.cardTitle{
    padding: 15px;
    padding-top: 10px;
    background: #dbdbdb;
    height: 90px;
    text-align: center;
    align-items: center;
    font-size: 30px;                                  
    font-weight: 600;
}
.cardTitle.green{
    color:#024b40
}
.cardTitle.red{
    color:#fe5858
}

.cardValue{
    display: flex;
    justify-content: center;
    font-weight: 600;
    border: #dfdfdf 3px solid;
    border-radius: 0 0 8px 8px;
    font-size: 40px;
    background-color: #b2d6ca;
    color: #024b40;
}
.tat{
    padding: 10px 0;
}
.tat .cardTitle{
    padding: 15px 10px;
    height: fit-content;
    font-weight: 500;
    font-size: 30px;
}
.tat .cardValue{
    font-weight: 400;
}
.tatHeader{
    padding: 15px 10px;
    font-weight: 600;
    font-size: 30px;
    display: none;
}

.slideShowContainer{
    display: none;
}
.slideShowContainer.active {
    padding: 0;
    margin-left: 220px;
    /* margin-top: 5px; */
    display: flex;
    flex-wrap: wrap;
    min-height: 200px;
    max-height: 200px;
}
.slideShow {
    flex-direction: column;
    margin-left: 30px;
    min-height: 180px;
    max-height: 180px;
    margin-top: 20px;
    border: #b2b2b2 2px solid;
    border-radius: 10px;
    background-color: #b2d6ca;
    display: flex;
    align-items: center;
    width: 815px;
}
.slideShow .category {
    padding: 10px;
    width: 100%;
    text-align: center;
    height: fit-content;
    font-size: 30px;
    font-weight: 600;
    border-bottom: #b2d6ca 2px solid;
    background: #024b40;
    color: white;
}
.categoryContainer{
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 100%;
}
.categoryContainer .categoryResults{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: #fff 1px solid;
    border-radius: 3px;
}
.categoryResults .title, .categoryResults .value{
    font-size: 30px;
    font-weight:600;
    text-align: center;
}
.categoryResults .value{
    background: #aacbc0;
    padding: 15px;
    margin: 0;
    width: 100%;
    height: fit-content;
    font-weight: bold;
    border: none;
    font-size: 40px;
    border-radius: 0 0 15px  15px;
}
.categoryResults .title{
    border-bottom: #000 1px solid;
}

