<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Heamatology Dashboard</title>

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">

</head>

<body id="page-top">

<!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark back-color-4">
             <h1 class="text-white px-2">Heamatology Dashboard</h1>
        </nav>
        <!-- Page content-->
        <div class="container-fluid p-0 ">
            <div class="row min-vh-100">
<!--                Summary Section-->
                <div class="col-sm-2 px-3 text-center">
                    <div class=" pt-2"><h3> Summary  </h3></div>
                    <div class="card shadow">
                        <h5 class="card-header text-white back-color-3">Registered</h5>
                        <div class="card-body">
                            <h2 class="card-title">{{ test_counts.get('Registered',0)}}</h2>
                        </div>
                    </div>
                    <div class="card shadow mt-1">
                        <h5 class="card-header text-white back-color-4">Received</h5>
                        <div class="card-body">
                            <h2 class="card-title">{{ test_counts.get('Received',0)}}</h2>
                        </div>
                    </div>
                    <hr>
                    <div class="card shadow mt-1">
                        <h5 class="card-header text-white back-color-2">In Progress</h5>
                        <div class="card-body">
                            <h2 class="card-title">{{ test_counts.get('In Progress',0)}}</h2>
                        </div>
                    </div>
                    <div class="card shadow mt-1">
                        <h5 class="card-header text-white back-color-1">Pending Authorization</h5>
                        <div class="card-body">
                            <h2 class="card-title">{{ test_counts.get('Pending Authorization',0)}}</h2>
                        </div>
                    </div>
                    <div class="card shadow mt-1">
                        <h5 class="card-header text-white back-color-3">Completed</h5>
                        <div class="card-body">
                            <h2 class="card-title">{{ test_counts.get('Analysis Complete',0)}}</h2>
                        </div>
                    </div>
                </div>
<!--                End of Summary Section-->

<!--                Test Section-->
                <div class="vr p-0"></div>
                <div class="col-lg px-0">
                      <div class="row mt-0 px-3">
                        <div class="col col-sm">
                            <div class="card shadow mt-3">
                                <h3 class="card-header text-white  back-color-3">FBC</h3>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col col-sm p-1">
                                            <div class="card text-center">
                                                <p class="card-header text-color-3"><br>Received</p>
                                                <h2 class="card-title">50</h2>
                                            </div>
                                        </div>
                                        <div class="col col-sm p-1">
                                            <div class="card text-center">
                                                <p class="card-header  text-color-2"><br>In progress</p>
                                                <h2 class="card-title">13</h2>
                                            </div>
                                        </div>
                                        <div class="col col-sm p-1">
                                            <div class="card text-center">
                                                <p class="card-header text-color-2">Pending Authorization</p>
                                                <h2 class="card-title">5</h2>
                                            </div>
                                        </div>
                                        <div class="col col-sm p-1">
                                            <div class="card text-center">
                                                <p class="card-header text-color-3"><br>Completed</p>
                                                <h2 class="card-title">11</h2>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row p-1">
                                        <div class="card">
                                            <h5 class="card-title">TAT</h5>
                                            <table class="table table-striped table-bordered border-black text-center">
                                                <thead>
                                                    <tr>
                                                      <th scope="col">Target</th>
                                                      <th scope="col">Current</th>
                                                      <th scope="col">Average</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <td>5</td>
                                                    <td>4</td>
                                                    <td>6</td>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                      <div class="col col-sm">
                            <div class="card shadow mt-3">
                                <h3 class="card-header text-white  back-color-3">ESR</h3>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col col-sm p-1">
                                            <div class="card text-center">
                                                <p class="card-header text-color-3"><br>Received</p>
                                                <h2 class="card-title">50</h2>
                                            </div>
                                        </div>
                                        <div class="col col-sm p-1">
                                            <div class="card text-center">
                                                <p class="card-header  text-color-2"><br>In progress</p>
                                                <h2 class="card-title">13</h2>
                                            </div>
                                        </div>
                                        <div class="col col-sm p-1">
                                            <div class="card text-center">
                                                <p class="card-header text-color-2">Pending Authorization</p>
                                                <h2 class="card-title">5</h2>
                                            </div>
                                        </div>
                                        <div class="col col-sm p-1">
                                            <div class="card text-center">
                                                <p class="card-header text-color-3"><br>Completed</p>
                                                <h2 class="card-title">11</h2>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row p-1">
                                        <div class="card">
                                            <h5 class="card-title">TAT</h5>
                                            <table class="table table-striped table-bordered border-black text-center">
                                                <thead>
                                                    <tr>
                                                      <th scope="col">Target</th>
                                                      <th scope="col">Current</th>
                                                      <th scope="col">Average</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <td>5</td>
                                                    <td>4</td>
                                                    <td>6</td>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                      </div>


                        <!-- Force next columns to break to new line at md breakpoint and up -->
                        <div class="w-100 d-none d-md-block"></div>

                      <div class="col col-sm">
                            <div class="card shadow mt-3">
                                <h3 class="card-header text-white  back-color-3">Sickle Cell</h3>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col col-sm p-1">
                                            <div class="card text-center">
                                                <p class="card-header text-color-3"><br>Received</p>
                                                <h2 class="card-title">50</h2>
                                            </div>
                                        </div>
                                        <div class="col col-sm p-1">
                                            <div class="card text-center">
                                                <p class="card-header  text-color-2"><br>In progress</p>
                                                <h2 class="card-title">13</h2>
                                            </div>
                                        </div>
                                        <div class="col col-sm p-1">
                                            <div class="card text-center">
                                                <p class="card-header text-color-2">Pending Authorization</p>
                                                <h2 class="card-title">5</h2>
                                            </div>
                                        </div>
                                        <div class="col col-sm p-1">
                                            <div class="card text-center">
                                                <p class="card-header text-color-3"><br>Completed</p>
                                                <h2 class="card-title">11</h2>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row p-1">
                                        <div class="card">
                                            <h5 class="card-title">TAT</h5>
                                            <table class="table table-striped table-bordered border-black text-center">
                                                <thead>
                                                    <tr>
                                                      <th scope="col">Target</th>
                                                      <th scope="col">Current</th>
                                                      <th scope="col">Average</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <td>5</td>
                                                    <td>4</td>
                                                    <td>6</td>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                      </div>

                      <div class="col col-sm">
                            <div class="card shadow mt-3">
                                <h3 class="card-header text-white  back-color-3">PBF</h3>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col col-sm p-1">
                                            <div class="card text-center">
                                                <p class="card-header text-color-3"><br>Received</p>
                                                <h2 class="card-title">50</h2>
                                            </div>
                                        </div>
                                        <div class="col col-sm p-1">
                                            <div class="card text-center">
                                                <p class="card-header  text-color-2"><br>In progress</p>
                                                <h2 class="card-title">13</h2>
                                            </div>
                                        </div>
                                        <div class="col col-sm p-1">
                                            <div class="card text-center">
                                                <p class="card-header text-color-2">Pending Authorization</p>
                                                <h2 class="card-title">5</h2>
                                            </div>
                                        </div>
                                        <div class="col col-sm p-1">
                                            <div class="card text-center">
                                                <p class="card-header text-color-3"><br>Completed</p>
                                                <h2 class="card-title">11</h2>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row p-1">
                                        <div class="card">
                                            <h5 class="card-title">TAT</h5>
                                            <table class="table table-striped table-bordered border-black text-center">
                                                <thead>
                                                    <tr>
                                                      <th scope="col">Target</th>
                                                      <th scope="col">Current</th>
                                                      <th scope="col">Average</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <td>5</td>
                                                    <td>4</td>
                                                    <td>6</td>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                      </div>

                      </div>
                </div>

<!--               End of Test Section-->
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>

    </body>
</html>