<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {#    <meta http-equiv="refresh" content="1">#}
    <title>{{ department_data.department.department_name }}</title>
    {#    {% endfor %}#}
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">

</head>

<body id="page-top">

<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark back-color-4">
    <h1 class="text-white px-2 display-3 fw-normal">{{ department_data.department.department_name.upper() }}</h1>
</nav>
<!-- Page content-->
<div class="container-fluid p-0 ">
    <div class="row min-vh-50"> <!--min-vh-100-->
        <!-- Summary Section-->
        <div class="col-sm-2 px-3 text-center">
            <div class=" pt-2"><h1 class="fs-1"> Summary </h1></div>
            <div class="card shadow">
                <h1 class="card-header text-white back-color-3 fs-1">Registered</h1>
                <div class="card-body">
                    <h2 class="card-title">{{ registered }}</h2>
                </div>
            </div>
            <div class="card shadow mt-3">
                <h1 class="card-header text-white back-color-4 fs-1">Received</h1>
                <div class="card-body">
                    <h2 class="card-title">{{ test_counts.get('Received in Department',0) }}</h2>
                </div>
            </div>
            <hr>
            <div class="card shadow mt-3">
                <h1 class="card-header text-white back-color-2 fs-1">In Progress</h1>
                <div class="card-body">
                    <h2 class="card-title">{{ test_counts.get('In Progress',0) }}</h2>
                </div>
            </div>
            <div class="card shadow mt-3">
                <h1 class="card-header text-black back-color-1 fs-1">Pending Authorization</h1>
                <div class="card-body">
                    <h2 class="card-title">{{ test_counts.get('Pending Authorization',0) }}</h2>
                </div>
            </div>
            <div class="card shadow mt-3">
                <h1 class="card-header text-white back-color-3 fs-1">Completed</h1>
                <div class="card-body">
                    <h2 class="card-title">{{ test_counts.get('Analysis Complete',0) }}</h2>
                </div>
            </div>
        </div>
        <!--End of Summary Section-->

        <!--Test Section-->
        <div class="vr p-0"></div>
        <div class="col-lg px-0">
            <div class="row mt-0 px-3">
                <div class="col col-sm">
                    <div class="card shadow mt-3">
                        <h3 class="card-header text-white  back-color-3 fs-1">
                            {{ department_data.department.test1 }}<!--FBC--></h3>
                        <div class="card-body">
                            <div class="row">
                                <div class="col col-sm p-1">
                                    <div class="card text-center">
                                        <p class="card-header text-color-3 fs-2"><br>Received</p>
                                        <h2 class="card-title fs-1">{{ counts_fbc.get('Received in Department',0) }}</h2>
                                    </div>
                                </div>
                                <div class="col col-sm p-1">
                                    <div class="card text-center">
                                        <p class="card-header  text-color-2 fs-2"><br>In progress</p>
                                        <h2 class="card-title fs-1">{{ counts_fbc.get('In Progress',0) }}</h2>
                                    </div>
                                </div>
                                <div class="col col-sm p-1">
                                    <div class="card text-center">
                                        <p class="card-header text-color-2 fs-2">Pending Authorization</p>
                                        <h2 class="card-title fs-1">{{ counts_fbc.get('Pending Authorization',0) }}</h2>
                                    </div>
                                </div>
                                <div class="col col-sm p-1">
                                    <div class="card text-center">
                                        <p class="card-header text-color-3 fs-2"><br>Completed</p>
                                        <h2 class="card-title fs-1">{{ counts_fbc.get('Analysis Complete',0) }}</h2>
                                    </div>
                                </div>
                            </div>

                            <div class="row p-1">
                                <div class="card">
                                    <h5 class="card-title fs-2">TAT</h5>
                                    <table class="table table-striped table-bordered border-black text-center">
                                        <thead>
                                        <tr>
                                            <th class="fs-2" scope="col">Target</th>
                                            <th class="fs-2" scope="col">Current</th>
                                            <th class="fs-2" scope="col">Average</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <td class="fs-1">5</td>
                                        <td class="fs-1">4</td>
                                        <td class="fs-1">6</td>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col col-sm">
                    <div class="card shadow mt-3">
                        <h3 class="card-header text-white  back-color-3 fs-1">
                            {{ department_data.department.test2 }}<!--ESR--></h3>
                        <div class="card-body">
                            <div class="row">
                                <div class="col col-sm p-1">
                                    <div class="card text-center">
                                        <p class="card-header text-color-3  fs-2 "><br>Received</p>
                                        <h2 class="card-title fs-1">{{ counts_esr.get('Received in Department',0) }}</h2>
                                    </div>
                                </div>
                                <div class="col col-sm p-1">
                                    <div class="card text-center">
                                        <p class="card-header  text-color-2 fs-2"><br>In progress</p>
                                        <h2 class="card-title fs-1">{{ counts_esr.get('In Progress',0) }}</h2>
                                    </div>
                                </div>
                                <div class="col col-sm p-1">
                                    <div class="card text-center">
                                        <p class="card-header text-color-2 fs-2">Pending Authorization</p>
                                        <h2 class="card-title fs-1">{{ counts_esr.get('Pending Authorization',0) }}</h2>
                                    </div>
                                </div>
                                <div class="col col-sm p-1">
                                    <div class="card text-center">
                                        <p class="card-header text-color-3 fs-2"><br>Completed</p>
                                        <h2 class="card-title fs-1">{{ counts_esr.get('Analysis Complete',0) }}</h2>
                                    </div>
                                </div>
                            </div>

                            <div class="row p-1">
                                <div class="card">
                                    <h5 class="card-title fs-2">TAT</h5>
                                    <table class="table table-striped table-bordered border-black text-center">
                                        <thead>
                                        <tr>
                                            <th class="fs-2" scope="col">Target</th>
                                            <th class="fs-2" scope="col">Current</th>
                                            <th class="fs-2" scope="col">Average</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <td class="fs-1">5</td>
                                        <td class="fs-1">4</td>
                                        <td class="fs-1">6</td>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Force next columns to break to new line at md breakpoint and up -->
                <div class="w-100 d-none d-md-block"></div>

                <div class="col col-sm">
                    <div class="card shadow mt-3">
                        <h3 class="card-header text-white  back-color-3 fs-1">{{ department_data.department.test3 }}<!--Sickle Cell--></h3>
                        <div class="card-body">
                            <div class="row">
                                <div class="col col-sm p-1">
                                    <div class="card text-center">
                                        <p class="card-header text-color-3 fs-2"><br>Received</p>
                                        <h2 class="card-title fs-1">{{ counts_sc.get('Received in Department',0) }}</h2>
                                    </div>
                                </div>
                                <div class="col col-sm p-1">
                                    <div class="card text-center">
                                        <p class="card-header  text-color-2 fs-2"><br>In progress</p>
                                        <h2 class="card-title fs-1">{{ counts_sc.get('In Progress',0) }}</h2>
                                    </div>
                                </div>
                                <div class="col col-sm p-1">
                                    <div class="card text-center">
                                        <p class="card-header text-color-2 fs-2">Pending Authorization</p>
                                        <h2 class="card-title fs-1">{{ counts_sc.get('Pending Authorization',0) }}</h2>
                                    </div>
                                </div>
                                <div class="col col-sm p-1">
                                    <div class="card text-center">
                                        <p class="card-header text-color-3 fs-2"><br>Completed</p>
                                        <h2 class="card-title fs-1">{{ counts_sc.get('Analysis Complete',0) }}</h2>
                                    </div>
                                </div>
                            </div>

                            <div class="row p-1">
                                <div class="card">
                                    <h5 class="card-title fs-2">TAT</h5>
                                    <table class="table table-striped table-bordered border-black text-center">
                                        <thead>
                                        <tr>
                                            <th class="fs-2" scope="col">Target</th>
                                            <th class="fs-2" scope="col">Current</th>
                                            <th class="fs-2" scope="col">Average</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <td class="fs-1">5</td>
                                        <td class="fs-1">4</td>
                                        <td class="fs-1">6</td>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col col-sm">
                    <div class="card shadow mt-3">
                        <h3 class="card-header text-white  back-color-3 fs-1">
                            {{ department_data.department.test4 }}<!--PBF--></h3>
                        <div class="card-body">
                            <div class="row">
                                <div class="col col-sm p-1">
                                    <div class="card text-center">
                                        <p class="card-header text-color-3 fs-2"><br>Received</p>
                                        <h2 class="card-title fs-1">{{ counts_pbf.get('Received in Department',0) }}</h2>
                                    </div>
                                </div>
                                <div class="col col-sm p-1">
                                    <div class="card text-center">
                                        <p class="card-header  text-color-2 fs-2"><br>In progress</p>
                                        <h2 class="card-title fs-1">{{ counts_pbf.get('In Progress',0) }}</h2>
                                    </div>
                                </div>
                                <div class="col col-sm p-1">
                                    <div class="card text-center">
                                        <p class="card-header text-color-2 fs-2">Pending Authorization</p>
                                        <h2 class="card-title fs-1">{{ counts_pbf.get('Pending Authorization',0) }}</h2>
                                    </div>
                                </div>
                                <div class="col col-sm p-1">
                                    <div class="card text-center">
                                        <p class="card-header text-color-3 fs-2"><br>Completed</p>
                                        <h2 class="card-title fs-1">{{ counts_sc.get('Analysis Complete',0) }}</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="row p-1">
                                <div class="card">
                                    <h5 class="card-title fs-2">TAT</h5>
                                    <table class="table table-striped table-bordered border-black text-center">
                                        <thead>
                                        <tr>
                                            <th class="fs-2" scope="col">Target</th>
                                            <th class="fs-2" scope="col">Current</th>
                                            <th class="fs-2" scope="col">Average</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <td class="fs-1">5</td>
                                        <td class="fs-1">4</td>
                                        <td class="fs-1">6</td>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- End of Test Section-->
    </div>
</div>
<!--separate sections-->
<div class="">
    <hr class="my-1">
</div>
<!--changes by cossam start here-->
<div class="container-fluid p-0">
    {#    <div class=" my-2 back-color-4 text-white">#}
    {#        <hr class="my-1">#}
    {#        <h3 class="text-center fs-1">Weekly & Monthly Collection Summary</h3>#}
    {#        <hr class="my-1">#}
    {#    </div>#}
    <div class="row my-2 px-3">
        <div class="col col-sm">
            <div class="card mt-3 shadow carousel slide" id="myCarousel" data-bs-ride="carousel"
                 data-bs-interval="5000">
                <div class="card-header back-color-1 text-center text-black fs-1"><h1>Monthly</h1></div>
                <div class="carousel-inner" id="block">
                    <div class="carousel-item active">
                        <div class="card">
                            <div class="card-body position-relative back-color-1 back-color-1">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="text-center  text-black">
                                            <h3 class="fs-1"> Registered : 200 | Received : 155 </h3>
                                        </div>
                                    </div>
                                </div>
                                {#                                <table class="table table-striped table-bordered border-black text-center">#}
                                {#                                    <thead>#}
                                {#                                    <tr>#}
                                {#                                        <th class="fs-1" scope="col">Registered</th>#}
                                {#                                        <th class="fs-1" scope=" col">Received</th>#}
                                {#                                    </tr>#}
                                {#                                    </thead>#}
                                {#                                    <tbody>#}
                                {#                                    <td class="fs-1">5</td>#}
                                {#                                    <td class="fs-1">4</td>#}
                                {#                                    </tbody>#}
                                {#                                </table>#}
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card">
                            <div class="card-body position-relative back-color-1">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="text-center  text-black">
                                            <h3 class="fs-1"> In Progress : 10 </h3>
                                        </div>
                                    </div>
                                </div>
                                {#                                <table class="table table-striped table-bordered border-black text-center">#}
                                {#                                    <thead>#}
                                {#                                    <tr>#}
                                {#                                        <th class="fs-1" scope="col">In Progress</th>#}
                                {#                                    </tr>#}
                                {#                                    </thead>#}
                                {#                                    <tbody>#}
                                {#                                    <td class="fs-1">5</td>#}
                                {#                                    </tbody>#}
                                {#                                </table>#}
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card">
                            <div class="card-body position-relative back-color-1">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="text-center  text-black">
                                            <h3 class="fs-1"> Pending Authorization : 15 </h3>
                                        </div>
                                    </div>
                                </div>
                                {#                                <table class="table table-striped table-bordered border-black text-center">#}
                                {#                                    <thead>#}
                                {#                                    <tr>#}
                                {#                                        <th class="fs-1" scope="col">Pending Authorization</th>#}
                                {#                                    </tr>#}
                                {#                                    </thead>#}
                                {#                                    <tbody>#}
                                {#                                    <td class="fs-1">4</td>#}
                                {#                                    </tbody>#}
                                {#                                </table>#}
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card">
                            <div class="card-body position-relative back-color-1">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="text-center  text-black">
                                            <h3 class="fs-1"> Completed : 3 </h3>
                                        </div>
                                    </div>
                                </div>
                                {#                                <table class="table table-striped table-bordered border-black text-center">#}
                                {#                                    <thead>#}
                                {#                                    <tr>#}
                                {#                                        <th class="fs-1" scope="col">Completed</th>#}
                                {#                                    </tr>#}
                                {#                                    </thead>#}
                                {#                                    <tbody>#}
                                {#                                    <td class="fs-1">5</td>#}
                                {#                                    </tbody>#}
                                {#                                </table>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-sm">
            <div class="card mt-3 shadow carousel slide" id="myCarousel" data-bs-ride="carousel"
                 data-bs-interval="5000">
                <div class="card-header back-color-1 text-center text-black fs-2"><h1>Weekly</h1></div>
                <div class="carousel-inner" id="block">
                    <div class="carousel-item active">
                        <div class="card">
                            <div class="card-body position-relative back-color-1">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="text-center  text-black">
                                            <h3 class="fs-1"> Registered : 200 | Received : 155 </h3>
                                        </div>
                                    </div>
                                </div>
                                {#                                <table class="table table-striped table-bordered border-black text-center">#}
                                {#                                    <thead>#}
                                {#                                    <tr>#}
                                {#                                        <th class="fs-1" scope="col">Registered</th>#}
                                {#                                        <th class="fs-1" scope="col">Received</th>#}
                                {#                                    </tr>#}
                                {#                                    </thead>#}
                                {#                                    <tbody>#}
                                {#                                    <td class="fs-1">5</td>#}
                                {#                                    <td class="fs-1">4</td>#}
                                {#                                    </tbody>#}
                                {#                                </table>#}
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card">
                            <div class="card-body position-relative back-color-1">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="text-center  text-black">
                                            <h3 class="fs-1"> In Progress : 20 </h3>
                                        </div>
                                    </div>
                                </div>
                                {#                                <table class="table table-striped table-bordered border-black text-center">#}
                                {#                                    <thead>#}
                                {#                                    <tr>#}
                                {#                                        <th class="fs-1" scope="col">In Progress</th>#}
                                {#                                    </tr>#}
                                {#                                    </thead>#}
                                {#                                    <tbody>#}
                                {#                                    <td class="fs-1">5</td>#}
                                {#                                    </tbody>#}
                                {#                                </table>#}
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card">
                            <div class="card-body position-relative back-color-1">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="text-center  text-black">
                                            <h3 class="fs-1"> Pending Authorization : 8 </h3>
                                        </div>
                                    </div>
                                </div>
                                {#                                <table class="table table-striped table-bordered border-black text-center">#}
                                {#                                    <thead>#}
                                {#                                    <tr>#}
                                {#                                        <th class="fs-1" scope="col">Pending Authorization</th>#}
                                {#                                    </tr>#}
                                {#                                    </thead>#}
                                {#                                    <tbody>#}
                                {#                                    <td class="fs-1">4</td>#}
                                {#                                    </tbody>#}
                                {#                                </table>#}
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card">
                            <div class="card-body position-relative back-color-1">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="text-center  text-black">
                                            <h3 class="fs-1"> Completed : 17 </h3>
                                        </div>
                                    </div>
                                </div>
                                {#                                <table class="table table-striped table-bordered border-black text-center">#}
                                {#                                    <thead>#}
                                {#                                    <tr>#}
                                {#                                        <th class="fs-1" scope="col">Completed</th>#}
                                {#                                    </tr>#}
                                {#                                    </thead>#}
                                {#                                    <tbody>#}
                                {#                                    <td class="fs-1">5</td>#}
                                {#                                    </tbody>#}
                                {#                                </table>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end of Monthly and weekly statistics section -->
</div>
<!--changes by cossam end here-->
<!-- Bootstrap core JS-->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>

</body>
</html>