<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    </head>
    <body>
        {% block content %}
            <h1>{% block title %} Specimens {% endblock %}</h1>

                <table border="1">
                    <thead>
                        <th>Accession Number</th>
                        <th>Department</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th>Time Registered</th>
                        <th>Time Received</th>
                        <th>Action</th>
                    </thead>
                    {% for specimen in specimens %}
                        <tr>
                            <td>{{ specimen['accession_number'] }}</td>
                            <td>{{ specimen['department'] }}</td>
                            <td>{{ specimen['type'] }}</td>
                            <td>{{ specimen['status'] }}</td>
                            <td>{{ specimen['time_registered'] }}</td>
                            <td>{{ specimen['time_received'] }}</td>
                            <td> <button onmousedown="advanceSample({{ specimen['specimen_id']}})">Advance</button> </td>
                        </tr>
                    {% endfor %}
                </table>
        {% endblock %}
    </body>
    <script>
        function advanceSample(id){
            console.log(status)
            $.ajax({
            url: '/simulate_progress',
            type: 'POST',
            data: JSON.stringify({
                ID: id
            }),
            contentType: "application/json",
            success: function (response) {
            },
            error: function (response) {
            }
        });

        }
    </script>
</html>