{
    "department":"Haematology",
    "test_short_name":{
        "test_type_1":"FBC",
        "test_type_2":"PT",
        "test_type_3":"APPT",
        "test_type_4":"INR",
    },
    "interval":1,
    "refresh_rate": 7,
    "iblis":{
        "host":"127.0.0.1",
        "port":"3306",
        "user":"root",
        "database":"tests",
        "auth_plugin"="mysql_native_password"
    },
    "dashboard"{
        "host":"127.0.0.1",
        "port":"3306",
        "user":"root",
        "database":"Haematology",
        "auth_plugin"="mysql_native_password"
    }
}