{% extends "dashboard.base.html" %}

<!--content-->
{% block departmentName %}
    {{departmentName}}
{% endblock %}
{% block testType1 %}
    {{testType1}}
{% endblock %}
{% block testType2 %}
    {{testType2}}
{% endblock %}
{% block testType3 %}
    {{testType3}}
{% endblock %}
{% block testType4 %}
    {{testType4}}
{% endblock %}

<!--Summary-->
{% block summaryRegisteredTotal %}
    {{summaryRegisteredTotal}}
{% endblock %}
{% block summaryReceivedTotal %}
    {{summaryReceivedTotal}}
{% endblock %}
{% block summaryInProgressTotal %}
    {{summaryInProgressTotal}}
{% endblock %}
{% block summaryPendingAuthTotal %}
    {{summaryPendingAuthTotal}}
{% endblock %}
{% block summaryCompleteTotal %}
    {{summaryCompleteTotal}}
{% endblock %}


<!--Test1-->
{% block registered1 %}
    {{registered1}}
{% endblock %}
{% block received1 %}
    {{received1}}
{% endblock %}
{% block inProgress1 %}
    {{inProgress1}}
{% endblock %}
{% block pendingAuth1 %}
    {{pendingAuth1}}
{% endblock %}
{% block complete1 %}
    {{complete1}}
{% endblock %}



<!--Test2-->
{% block registered2 %}
    {{registered2}}
{% endblock %}
{% block received2 %}
    {{received2}}
{% endblock %}
{% block inProgress2 %}
    {{inProgress2}}
{% endblock %}
{% block pendAuth2 %}
    {{pendAuth2}}
{% endblock %}
{% block complete2 %}
    {{complete2}}
{% endblock %}


<!--Test3-->
{% block registered3 %}
    {{registered3}}
{% endblock %}
{% block received3 %}
    {{received3}}
{% endblock %}
{% block inProgress3 %}
    {{inProgress3}}
{% endblock %}
{% block pendAuth3 %}
    {{pendAuth3}}
{% endblock %}
{% block complete3 %}
    {{complete3}}
{% endblock %}


<!--Test4-->
{% block registered4 %}
    {{registered4}}
{% endblock %}
{% block received4 %}
    {{received4}}
{% endblock %}
{% block inProgress4 %}
    {{inProgress4}}
{% endblock %}
{% block pendAuth4 %}
    {{pendAuth4}}
{% endblock %}
{% block complete4 %}
    {{complete4}}
{% endblock %}



<!--TAT-->
{% block target1 %}
    {{target1}}
{% endblock %}
{% block target2 %}
    {{target2}}
{% endblock %}
{% block target3 %}
    {{target3}}
{% endblock %}
{% block target4 %}
    {{target4}}
{% endblock %}

<!-- CURRENT -->
{% block current1 %}
    {{current1}}
{% endblock %}
{% block current2 %}
    {{current2}}
{% endblock %}
{% block current3 %}
    {{current3}}
{% endblock %}
{% block current4 %}
    {{current4}}
{% endblock %}



<!-- AVERAGE -->
{% block average1 %}
    {{average1}}
{% endblock %}
{% block average2 %}
    {{average2}}
{% endblock %}
{% block average3 %}
    {{average3}}
{% endblock %}
{% block average4 %}
    {{average4}}
{% endblock %}


<!--Weekly Summary-->
{% block weeklyRegistered %}
    {{weeklyRegistered}}
{% endblock %}
{% block weeklyRecieved %}
    {{weeklyRecieved}}
{% endblock %}
{% block weeklyProgress %}
    {{weeklyProgress}}
{% endblock %}
{% block weeklyPending %}
    {{weeklyPending}}
{% endblock %}
{% block weeklyComplete %}
    {{weeklyComplete}}
{% endblock %}

<!--Monthly Summary-->
{% block monthlyRegistered %}
    {{monthlyRegistered}}
{% endblock %}
{% block monthlyRecieved %}
    {{monthlyRecieved}}
{% endblock %}
{% block monthlyProgress %}
    {{monthlyProgress}}
{% endblock %}
{% block monthlyPending %}
    {{monthlyPending}}
{% endblock %}
{% block monthlyComplete %}
    {{monthlyComplete}}
{% endblock %}