<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{departmentName}}</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/dashBoard.css')}}">
    <link rel="stylesheet" href="../static/css/dashBoard.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="nav">
        {{departmentName}}
    </div>
    <div class="sideNav">
        <!-- <span>
            SUMMERY
        </span> -->
        <div class="card">
            <span class="title green">
                REGISTERED
            </span>
            <span class="value" id="summaryRegisteredTotal">
                {{summaryRegisteredTotal}}
            </span>
        </div>
        <div class="card">
            <span class="title maroon">
                RECIEVED
            </span>
            <span class="value" id="summaryReceivedTotal">
                {{summaryReceivedTotal}}
            </span>
        </div>
        <div class="card">
            <span class="title red">
                IN PROGRESS
            </span>
            <span class="value" id="summaryInProgressTotal">
                {{summaryInProgressTotal}}
            </span>
        </div>
        <div class="card">
            <span class="title lightBlue">
                PENDING AUTHORIZATION
            </span>
            <span class="value" id="summaryPendingAuthTotal">
                {{summaryPendingAuthTotal}}
            </span>
        </div>
        <div class="card">
            <span class="title green">
                COMPLETED
            </span>
            <span class="value" id="summaryCompleteTotal">
                {{summaryCompleteTotal}}
            </span>
        </div>
    </div>


    <!-- ############################################## -->
    
    
    <div class="main">
        <div class="test">
            <span class ="header .green">
                {{testType1}}
            </span>
            <div class="statusCards">
                <div class="cardWrapper">
                    <div class="cardTitle green">
                        Received
                    </div>
                    <div class="cardValue" id="received1">
                        {{received1}}
                    </div>
                </div>
                <div class="cardWrapper">
                    <div class="cardTitle red">
                        In Progress
                    </div>
                    <div class="cardValue" id="inProgress1">
                        {{inProgress1}}
                    </div>
                </div>
                <div class="cardWrapper">
                    <div class="cardTitle red">
                        Pending Authorization
                    </div>
                    <div class="cardValue" id="pendingAuth1">
                        {{pendingAuth1}}
                    </div>
                </div>
                <div class="cardWrapper">
                    <div class="cardTitle green">
                        Completed
                    </div>
                    <div class="cardValue" id="complete1">
                        {{complete1}}
                    </div>
                </div>       
            </div>
            <div class="tat">
                <span class="tatHeader">
                    TAT
                </span>
                <div class="statusCards">
                    <div class="cardWrapper">
                        <div class="cardTitle">
                            TARGET
                        </div>
                        <div class="cardValue">
                            {{target1}}
                        </div>
                    </div>
                    <div class="cardWrapper">
                        <div class="cardTitle">
                            CURRENT
                        </div>
                        <div class="cardValue" id="current1">
                            {{current1}} Mins
                        </div>
                    </div>
                    <div class="cardWrapper">
                        <div class="cardTitle">
                            AVERAGE
                        </div>
                        <div class="cardValue" id="average1">
                            {{average1}} Hrs
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="test">
            <span class ="header .green">
                {{testType2}}
            </span>
            <div class="statusCards">
                <div class="cardWrapper">
                    <div class="cardTitle green">
                        Received
                    </div>
                    <div class="cardValue" id="received2">
                        {{received2}}
                    </div>
                </div>
                <div class="cardWrapper">
                    <div class="cardTitle red">
                        In Progress
                    </div>
                    <div class="cardValue" id="inProgress2">
                        {{inProgress2}}
                    </div>
                </div>
                <div class="cardWrapper">
                    <div class="cardTitle red">
                        Pending Authorization
                    </div>
                    <div class="cardValue" id="pendingAuth2">
                        {{pendingAuth2}}
                    </div>
                </div>
                <div class="cardWrapper">
                    <div class="cardTitle green">
                        Completed
                    </div>
                    <div class="cardValue" id="complete2">
                        {{complete2}}
                    </div>
                </div>
                
            </div>
            <div class="tat">
                <span class="tatHeader">
                    TAT
                </span>
                <div class="statusCards">
                    <div class="cardWrapper">
                        <div class="cardTitle">
                            TARGET
                        </div>
                        <div class="cardValue">
                            {{target2}}
                        </div>
                    </div>
                    <div class="cardWrapper">
                        <div class="cardTitle">
                            CURRENT
                        </div>
                        <div class="cardValue" id="current2">
                            {{current2}} Mins
                        </div>
                    </div>
                    <div class="cardWrapper">
                        <div class="cardTitle">
                            AVERAGE
                        </div>
                        <div class="cardValue" id="average2">
                            {{average2}} Hrs
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="test">
            <span class ="header .green">
                {{testType3}}
            </span>
            <div class="statusCards">
                <div class="cardWrapper">
                    <div class="cardTitle green">
                        Received
                    </div>
                    <div class="cardValue" id="received3">
                        {{received3}}
                    </div>
                </div>
                <div class="cardWrapper">
                    <div class="cardTitle red">
                        In Progress
                    </div>
                    <div class="cardValue" id="inProgress3">
                        {{inProgress3}}
                    </div>
                </div>
                <div class="cardWrapper">
                    <div class="cardTitle red">
                        Pending Authorization
                    </div>
                    <div class="cardValue" id="pendingAuth3">
                        {{pendingAuth3}}
                    </div>
                </div>
                <div class="cardWrapper">
                    <div class="cardTitle green">
                        Completed
                    </div>
                    <div class="cardValue" id="complete3">
                        {{complete3}}
                    </div>
                </div>
                
            </div>
            <div class="tat">
                <span class="tatHeader">
                    TAT
                </span>
                <div class="statusCards">
                    <div class="cardWrapper">
                        <div class="cardTitle">
                            TARGET
                        </div>
                        <div class="cardValue">
                            {{target3}}
                        </div>
                    </div>
                    <div class="cardWrapper">
                        <div class="cardTitle">
                            CURRENT
                        </div>
                        <div class="cardValue" id="current3">
                            {{current3}} Mins
                        </div>
                    </div>
                    <div class="cardWrapper">
                        <div class="cardTitle">
                            AVERAGE
                        </div>
                        <div class="cardValue" id="average3">
                            {{average3}} Hrs
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="test">
            <span class ="header .green">
                {{testType4}}
            </span>
            <div class="statusCards">
                <div class="cardWrapper">
                    <div class="cardTitle green">
                        Received
                    </div>
                    <div class="cardValue" id="received4">
                        {{received4}}
                    </div>
                </div>
                <div class="cardWrapper">
                    <div class="cardTitle red">
                        In Progress
                    </div>
                    <div class="cardValue" id="inProgress4">
                        {{inProgress4}}
                    </div>
                </div>
                <div class="cardWrapper">
                    <div class="cardTitle red">
                        Pending Authorization
                    </div>
                    <div class="cardValue" id="pendingAuth4">
                        {{pendingAuth4}}
                    </div>
                </div>
                <div class="cardWrapper">
                    <div class="cardTitle green">
                        Completed
                    </div>
                    <div class="cardValue" id="complete4">
                        {{complete4}}
                    </div>
                </div>
                
            </div>
            <div class="tat">
                <span class="tatHeader">
                    TAT
                </span>
                <div class="statusCards">
                    <div class="cardWrapper">
                        <div class="cardTitle">
                            TARGET
                        </div>
                        <div class="cardValue">
                            {{target4}}
                        </div>
                    </div>
                    <div class="cardWrapper">
                        <div class="cardTitle">
                            CURRENT
                        </div>
                        <div class="cardValue" id="current4">
                            {{current4}} Mins
                        </div>
                    </div>
                    <div class="cardWrapper">
                        <div class="cardTitle">
                            AVERAGE
                        </div>
                        <div class="cardValue" id="average4">
                            {{average4}} Hrs
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bottomBanner">
        <div class="title">
            <span class="category">
                WEEKLY & MONTHLY SUMMARY
            </span>
        </div>
    </div>

#1
    <div class="slideShowContainer" id="slide1">
       
       
        <div class="slideShow">
            <div class="category">
                Monthly
            </div>

            <div class="categoryContainer">
                <div class="categoryResults">
                    <div class="title">
                        Registered
                    </div>
                    <div class="value" id = "monthlyRegistered">
                        {{monthlyRegistered}}
                    </div>
                </div>
                
                <div class="categoryResults">
                    <div class="title">
                    Received
                    </div>
                    <div class="value" id="monthlyRecieved">
                        {{monthlyRecieved}}
                    </div>
                </div>
                
            </div>
        </div>

       

        <div class="slideShow">
            <div class="category">
                WEEKLY
            </div>

            <div class="categoryContainer">
                <div class="categoryResults">
                    <div class="title">
                        Registered
                    </div>
                    <div class="value" id="weeklyRegistered">
                        {{weeklyRegistered}}
                    </div>
                </div>
                
                <div class="categoryResults">
                    <div class="title">
                        Received
                    </div>
                    <div class="value" id="weeklyRecieved">
                        {{weeklyRecieved}}
                    </div>
                </div>
                
            </div>
        </div>

       


    </div> 
    


#2
    <div class="slideShowContainer" id="slide2">
       
       
        <div class="slideShow">
            <div class="category">
                Monthly
            </div>

            <div class="categoryContainer">
                <div class="categoryResults">
                    <div class="title">
                        In Progress
                    </div>
                    <div class="value" id="monthlyProgress">
                        {{monthlyProgress}}
                    </div>
                </div>
                
            </div>
        </div>
       

        <div class="slideShow">
            <div class="category">
                WEEKLY
            </div>

            <div class="categoryContainer">
                
                <div class="categoryResults">
                    <div class="title">
                    In Progress
                    </div>
                    <div class="value" id="weeklyProgress">
                        {{weeklyProgress}}
                    </div>
                </div>  
            </div>
        </div>
    </div>


#3
    <div class="slideShowContainer" id="slide4">
       
       
        <div class="slideShow">
            <div class="category">
                Monthly
            </div>

            <div class="categoryContainer">
                <div class="categoryResults">
                    <div class="title">
                        Completed
                    </div>
                    <div class="value" id="monthlyComplete">
                        {{monthlyComplete}}
                    </div>
                </div>
                
            </div>
        </div>
       

        <div class="slideShow">
            <div class="category">
                WEEKLY
            </div>

            <div class="categoryContainer">
                
                <div class="categoryResults">
                    <div class="title">
                        Completed
                    </div>
                    <div class="value" id="weeklyComplete">
                        {{weeklyComplete}}
                    </div>
                </div>  
            </div>
        </div>
    </div>



#3
    <div class="slideShowContainer" id="slide3">
       
       
        <div class="slideShow">
            <div class="category">
                Monthly
            </div>

            <div class="categoryContainer">
                <div class="categoryResults">
                    <div class="title">
                        Pending Authorization
                    </div>
                    <div class="value" id="monthlyPending">
                        {{monthlyPending}}
                    </div>
                </div>
                
            </div>
        </div>
       

        <div class="slideShow">
            <div class="category">
                WEEKLY
            </div>

            <div class="categoryContainer">
                
                <div class="categoryResults">
                    <div class="title">
                    Pending Authorization
                    </div>
                    <div class="value" id ="weeklyPending">
                        {{weeklyPending}}
                    </div>
                </div>  
            </div>
        </div>
    </div>
    <script src="{{url_for('static',filename='js/load.js')}}"></script>
    <script src="{{url_for('static',filename='js/dashBoard.js')}}"></script>
    <script src="{{url_for('static',filename='js/content.js')}}"></script>
</body>
</html>