{% extends 'base.dashboard.html' %}

{% block title %}
    {{ static_data.department_name }}
{% endblock %}

{% block dashboard_styles %}
    <link
        rel="stylesheet" 
        href="{{ url_for('static', filename=static_data.CSS_FILE) }}"
    >
{% endblock %}

{% block department_name %}
    {{ static_data["department_name"] }}
{% endblock %}


{% block board_row %}
    <div class="test t1">
        <span class ="header .green">
            {{testType1}}testType1
        </span>
        <div class="statusCards">
            <div class="cardWrapper">
                <div class="cardTitle green">
                    Received
                </div>
                <div class="cardValue" id="received1">
                    {{received1}}000
                </div>
            </div>
            <div class="cardWrapper">
                <div class="cardTitle red">
                    In Progress
                </div>
                <div class="cardValue" id="inProgress1">
                    {{inProgress1}}000
                </div>
            </div>
            <div class="cardWrapper">
                <div class="cardTitle red">
                    Pending Authorization
                </div>
                <div class="cardValue" id="pendingAuth1">
                    {{pendingAuth1}}000
                </div>
            </div>
            <div class="cardWrapper">
                <div class="cardTitle green">
                    Completed
                </div>
                <div class="cardValue" id="complete1">
                    {{complete1}}000
                </div>
            </div>       
        </div>
        <div class="tat">
            <span class="tatHeader">
                TAT
            </span>
            <div class="statusCards">
                <div class="cardWrapper">
                    <div class="cardTitle">
                        TARGET
                    </div>
                    <div class="cardValue">
                        {{target1}}1
                    </div>
                </div>
                <div class="cardWrapper">
                    <div class="cardTitle">
                        CURRENT
                    </div>
                    <div class="cardValue" >
                        <span id="current1">{{current1}}</span> <span>Min</span>
                    </div>
                </div>
                <div class="cardWrapper">
                    <div class="cardTitle">
                        AVERAGE
                    </div>
                    <div class="cardValue">
                        <span id="average1">{{average1}}</span> <span>HRs</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block dashboard_scripts %}
    <script src="{{ url_for('static', filename=static_data.JS_BASE_URL ~ 'load.js') }}"></script>
    <script src="{{ url_for('static', filename=static_data.JS_BASE_URL ~ 'unload.js') }}"></script>
    <script src="{{ url_for('static', filename=static_data.JS_BASE_URL ~ 'dashBoard.js') }}"></script>
    <script src="{{ url_for('static', filename=static_data.JS_BASE_URL ~ 'content.js') }}"></script>
{% endblock %}
